<div class="center" >  
  <H1>slider works!</H1>
  <H1>Sync Dashboard Checkbox</H1>
  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [(ngModel)]="allComplete2"
                    [color]="task2.color"                    >
        {{task2.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">      
        <span *ngFor="let subtask of task2.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed" 
                        [color]="subtask.color" >
            {{subtask.name}}
          </mat-checkbox>
        </span>      
    </span>
  </section>  
</div>
