.example-form {
  min-width: 150px;
  //max-width: 900px;
  width: 100%;   
}

.example-full-width {
  width: 100%;
}

.center {
  margin: auto;
  width: 40%;
  //border: 1px solid #73AD21;
  padding: 100px 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 16px 16px;
  max-width: 960px;
  width: 40%;
  flex-direction: column;
  align-items: center;
}
