mat-card{
  margin: 1%;
  text-align: left;
  width: 98%;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;  
}

.mat-50{
  width: 48%;  
}

.mat-40{
  width: 40%;   
}

.mat-30{
  width: 30%;   
}

.mat-25{
  width: 25%;  
}

.mat-20{
  width: 20%;  
}

.mat-10{
  width: 10%;  
}

.mat-6{
  width: 6%;  
}

button{
  margin: 2px;
}
