/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-button{
  margin: 5px !important;
}
.mat-mdc-form-field{
  width: 100%;
}
.content{
  display: block !important;
}
a{
  color: white !important;
  padding: 1%;
}


.center{
  // display: flex;
  /* 水平置中 */
  // justify-content: center;    
  /* 垂直置中 */
  align-content: center;     
  flex-wrap: wrap;
  //margin: auto;
  width: 85%;
  // border: 1px solid #73AD21;
  //padding: 100px 0;
  padding: 5%;
  min-height: 20em ;  
  text-align: center;  
}
