.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1250px;
  //border: 1px solid #73AD21;
  mat-form-field {
    width: 90%;
    height: 1%;
  }
  .pr{
    width: 23%;
    padding-right: 0px;    
  }
}

.content {
  padding-top: 10px;
  padding-bottom: 90px;
}

.row {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  /* mat-form-field {
    width: 80%;
  } */
}

.action {
  padding: 80px 25px 0px 100px;
  text-align: center;
  button {
      flex: 1;
      padding: 0px 40px 0px  40px;
  }
}

.example-section {
  margin: 10px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
