
.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
  .pr{
    width: 30% ;
    padding-right: 50px;
  }
}

.content {
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 40px 25px 20px;
  button {
      flex: 1;
      padding: 0px 40px 0px  40px;
    }
}

