<div class="main-body">
  <div mat-dialog-title>
    <h1>Customer Form</h1>
  </div>
  <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="fullName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Account Name</mat-label>
                <input matInput placeholder="Ex. Babaji" formControlName="accountNumber">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthDay">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        
        <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Home Address</mat-label>
              <input matInput type="text" placeholder="Home Address" formControlName="homeAddress">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>City/State/ZipCode</mat-label>
              <input matInput placeholder="City/State/ZipCode" formControlName="homeCityStateZipCode">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Telephone Number</mat-label>
            <input matInput placeholder="Telephone Number" formControlName="homeTelephoneNumber">
          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="emailAddress">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Education</mat-label>
              <mat-select formControlName="education" >
                  <mat-option *ngFor="let val of education" [value]="val">{{val}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Experience</mat-label>
              <input matInput placeholder="Ex. 4" type="number" formControlName="experience">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Package</mat-label>
              <input matInput placeholder="Ex. 4" type="number" formControlName="package">
              <mat-hint>In rupees</mat-hint>
            </mat-form-field>
        </div>        
        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender" class="pr">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Others">Others</mat-radio-button>
            </mat-radio-group>
            <mat-form-field appearance="outline" class="pr">
              <mat-label>Global Markets</mat-label>
              <mat-select formControlName="markets" multiple >
                 <mat-option *ngFor="let val of markets" [value]="val">{{val}}
                 </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">        
        <button mat-raised-button color="primary" type="submit"> Save</button>
    </div>
  </form>
</div>