.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;     
  }
  .pr{
    width: 30% ;
    padding-right: 0px;    
  }
}

.content {
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  padding: 0px 25px;
  text-align: center;
  button {
      flex: 1;
      padding: 0px 40px 0px  40px;
  }
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}