.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1048px;
  mat-form-field {
    width: 100%;
  }
  .pr{
    width: 85% ;
    padding-right: 50px;
  }
}

.content {
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 50px;

  mat-form-field {
    width: 100%;
  }
}

.action {  
  padding: 0px 25px 20px; 
  button {
    margin-left: 50px !important;
    width: 200px;     
  }  
}
