@use '@angular/material' as mat;

.dense-1 {
  @include mat.all-component-densities(-3);
}

.dense-2 {
  @include mat.all-component-densities(-2);
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
        
  }
  .pr{
    width: 30% ;
    padding-right: 50px;
  }
}

.content {
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 20px;
  margin-top: 15px;  
  mat-form-field {
    width: 100%;
  }
}

input.mat-input-element {height:105px}

.action {
  padding: 40px 25px 20px;
  button {
      flex: 1;
      padding: 0px 40px 0px  40px;
  }
  
  button_sm {
    margin-right: 1vw;
    background: #4285F4;
    color: white;
    font-size: 9px;
    line-height: 18px;
    height: auto;
    width: auto;
  }
}

